<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict Page</title>
    <link rel = "stylesheet" href="../static/home.css" >
</head>
<body>
    <div class="navBar" style="height: 50px; font-family: cursive; font-size: 23px; color: white">
        <center>
            <p>
                Welcome {{name}}! 
            </p>
        </center>
    </div>
    <div class="textField">
        <center><p style="font-size: 15px;">Please fill out the below details</p></center>
        <form name="passdata" action="/predict" method="post">
            <center style="padding-bottom: 10px;">
                <input type="text" id="blood_urea" name="blood_urea" placeholder="Enter your blood urea" autocomplete="off"/>
            </center>
            <center style="padding-bottom: 10px;">
                <input type="text" id="blood_glucose_random" name="blood_glucose_random" placeholder="Enter your blood glucose random" autocomplete="off"/>
            </center>
            <center style="padding-bottom: 10px;">
                <select name="anemia" id="anemia">
                    <option value="default">Select anemia or not</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
            </center>
            <center style="padding-bottom: 10px;">
                <select name="coronary_artery_disease" id="coronary_artery_disease">
                    <option value="default">Select coronary_artery_disease or not</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
            </center>
            <center style="padding-bottom: 10px;">
                <select name="pus_cell" id="pus_cell">
                    <option value="default">Select pus_cell or not</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
            </center>
            <center style="padding-bottom: 10px;">
                <select name="red_blood_cells" id="red_blood_cells">
                    <option value="default">Select red_blood_cell or not</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
            </center>
            <center style="padding-bottom: 10px;">
                <select name="diabetesmellitus" id="diabetesmellitus">
                    <option value="default">Select diabetesmellitus or not</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
            </center>
            <center style="padding-bottom: 10px;">
                <select name="pedal_edema" id="pedal_edema">
                    <option value="default">Select pedal_edema or not</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
            </center>
            <center style="padding-bottom: 10px;">
                <input type="submit" placeholder="Predict" />
            </center>
        </form>
    </div>
</body>
</html>