{% extends "layout2.html" %} 
{% block body %}

<div>
    <center>
        <div class="loginComponent">
            <h1>Login To Continue</h1>
            {% if message %} 
                <p class="error">{{message}}</p>
            {% endif %}
            <form method="POST" action="/Login">
                <input type="email" placeholder="Enter Email ID" name="email" id="email" autocomplete="off" required/><br /><br />
                <input type="password" placeholder="Enter Password" name="psw" id="psw" autocomplete="off" required/><br /><br />
                <input type="submit" placeholder="Login" />
            </form> 
            <a href="/Register" class="registerLink">New User?</a>
        </div>
    </center>
</div>

{% endblock %}